/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-title {
    color: palette(color-neutral);
    font-family: $gamma-font-family;
    text-transform: uppercase;
    @include ms-1;
}

.c-nav-main__list {
    margin-bottom: 0;
    display: flex;

    .has-visible-nav & {
        display: none;
    }
}

.c-nav-main__item {
    position: relative;

    & + & {
        @include margin-left($columns-gutter);

        @include mq(bp3) {
            @include margin-left($columns-gutter*2);
        }
    }
}

.c-nav-main__link {
    font-weight: $beta-font-weight;
    display: flex;
    align-items: center;
    @include padding-tb(.5,.6);
    @include ms-1;

    &,
    &:visited {
        color: palette(color-neutral,xxx-light);

        .has-scrolled & {
            color: palette(color-neutral,xxx-dark);
        }

        .has-scrolled.has-visible-nav & {
            color: palette(color-neutral,xxx-light);
        }
    }

    &:hover,
    &:focus {
        opacity: .75;
        text-decoration: none;
    }
}

.c-nav-main__close {
    display: none;
    color: white;

    .has-visible-nav & {
        display: flex;
    }
}

.c-nav-main__symbol {
    width: 1.5em;
    height: 1.5em;
    fill: white;
    transition: all $animation-duration-alpha $animation-easing-alpha;

    .has-scrolled & {
        fill: palette(color-neutral,xxx-dark);
    }

    .has-scrolled.has-visible-nav & {
        fill: white;
    }
}

.c-nav-main__symbol--close {
    display: none;

    .has-visible-nav & {
        display: block;
    }
}

.c-nav-main__symbol--arrow-down {
    position: relative;
    top: 0.1em;
}

// subnav

.c-subnav {
    position: absolute;
    top: 100%;
    top: calc(100% + .5rem);
    //right: 0;
    left: 50%;
    background-color: #fff;
    min-width: 100%;
    pointer-events: none;
    transform: translate(-50%,-5px);
    opacity: 0;
    will-change: transform,opacity;
    transition-property: transform,opacity;
    transition-duration: $animation-duration-beta;
    transition-timing-function: $animation-easing-beta;
    border-radius: 1px;
    box-shadow: 0 50px 100px rgba(palette(color-neutral,xxx-dark),.1), 0 5px 15px rgba(palette(color-neutral,xxx-dark),.1);
    z-index: 1;
    //@include padding-tb(.75,.75);
    @include padding-tb(.5,.5);

    &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: -3px;
        left: 50%;
        margin-left: -5px;
        //right: 7px;
        transform: rotate(45deg);
        border-radius: 1px 0 0 0;
        background: #fff;
        z-index: 11;
    }

    .has-open-subnav & {
        transform: translate(-50%,0);
        opacity: 1;
        pointer-events: auto;
    }
}

    .c-subnav__item {
        position: relative;
        z-index: 12;
    }

    .c-subnav__link {
        font-weight: $beta-font-weight;
        display: block;
        //text-align: center;
        @include padding-lr(1,1);
        @include padding-tb(.25,.25);
        @include ms-2;

        &,
        &:visited {
            color: palette(color-neutral,xxx-dark);
        }

        &:hover,
        &:focus {
            opacity: .5;
            text-decoration: none;
        }

        .is-active & {
            opacity: .5;
        }
    }

.c-nav-projects {
    @include padding-bottom($alpha-leading);
}

    .c-nav-projects__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .c-nav-projects__item {
        flex-basis: 100%;
        text-align: center;
        border-top: 1px solid rgba(white,.1);
        //text-align: center;
        //border-bottom: 1px solid rgba(white,.1);
        //@include margin-bottom($alpha-leading);
        //@include padding-bottom($alpha-leading);

        //& + & {
        //    @include padding-top($alpha-leading*2);
        //}

        //@include mq(bp3) {
        //    flex-basis: 50%;
        //}
        //
        //@include mq(bp4) {
        //    flex-basis: 33.3333%;
        //}
        //
        ////@include mq(bp4) {
        ////    flex-basis: 33.3333%;
        ////}
    }

    .c-nav-projects__link {
        //display: inline-block;
        display: block;
        text-decoration: none;
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
        @include padding-tb($alpha-leading,$alpha-leading);

        .is-inactive & {
            opacity: .5;
        }
    }

    a.c-nav-projects__link {

        &,
        &:visited,
        &:hover {
            text-decoration: none;
        }

        &:hover {
            //opacity: .75;
            //transform: scale(1.05);
            background-color: rgba(white,.1);
        }
    }

    .c-nav-projects__label {
        display: block;
        //font-weight: $beta-font-weight;
        font-family: $beta-font-family;
        letter-spacing: 0.04em;
        color: white;
        //@include margin-bottom($alpha-leading/4);
        @include ms4;

        @include mq(bp3) {
            @include ms8;
        }
    }

    .c-nav-projects__status {
        color: palette(color-neutral);
        font-family: $gamma-font-family;
        @include ms-1;
    }

    .c-nav-projects__status--open {
        color: palette(color-alpha);
    }

    .c-nav-projects__status--sold-out {
        color: palette(color-beta);
    }

    .c-nav-projects__date {
        color: palette(color-neutral);
        display: block;
        @include margin-bottom($alpha-leading/4);
    }

//contact

.c-nav-contact {
    //text-align: center;
    color: white;
    //@include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    //@include padding-tb($alpha-leading * 2,$alpha-leading);
    @include padding-top($alpha-leading);
}

    .c-nav-contact__title {
        margin-bottom: 0;
        @include ms0;
    }

// social

.c-nav-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .c-nav-social__item {
        & + & {
            @include margin-left($columns-gutter);
        }
    }

    .c-nav-social__link {
        &,
        &:visited {
            color: white;
        }
    }

    .c-nav-social__symbol {
        width: 1.5rem;
        height: 1.5rem;
    }
