/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

.c-logo {
    display: inline-flex;
    align-items: center;
    //flex-direction: column;
    //width: 100%;
    margin-bottom: $alpha-leading;
    letter-spacing: 0.04em;
    position: relative;
    //font-family: $delta-font-family;
    //text-transform: uppercase;
    //font-weight: bold;
    margin-bottom: 0;
    @include text-dimensions($ms2,1);
}

.c-logo--label {
    display: none;
    color: white;
    transition: all $animation-duration-alpha $animation-easing-alpha;

    @include mq(bp3) {
        display: inline-flex;
    }

    .has-scrolled & {
        color: palette(color-neutral,xxx-dark);
    }

    .has-scrolled.has-visible-nav & {
        color: white;
    }
}

.c-logo--mark {
    @include mq(bp4) {
        //position: absolute;
        //left: 50%;
        //top: 50%;
        //transform: translate(-50%,-50%,0);
    }
}

    .c-logo__link {
        display: block;
    }

    $mark-ratio:     1.22222;
    $mark-height:    2.5rem;
    $mark-width:     $mark-height * $mark-ratio;

    .c-logo__mark {
        display: block;
        height: $mark-height;
        width: $mark-width;
        color: white;
        transition: all $animation-duration-alpha $animation-easing-alpha;
        //background-image: url('../img/png/logo-white.png');
        //background-repeat: no-repeat;
        //background-position: center;
        //background-size: contain;

        .has-scrolled & {
            //background-image: url('../img/png/logo-black.png');
            //color: palette(color-neutral,xxx-dark)
            opacity: 0;
        }

        .has-scrolled.has-visible-nav & {
            //background-image: url('../img/png/logo-white.png');
            color: white;
            opacity: 1;
        }
    }
