/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-title {
    color: palette(color-neutral);
    font-family: $gamma-font-family;
    text-transform: uppercase;
    @include ms-1;
}

.c-nav-main__list {
    //margin-bottom: 0;
    display: flex;

    .has-visible-nav & {
        display: none;
    }
}

.c-nav-main__item {
    & + & {
        @include margin-left($columns-gutter*2);
    }
}

.c-nav-main__link {
    font-weight: $beta-font-weight;
    @include ms-1;

    &,
    &:visited {
        color: palette(color-neutral,xxx-light);

        .is-negative & {
            color: palette(color-neutral,xxx-dark);

            .has-visible-nav & {
                color: palette(color-neutral,xxx-light);
            }
        }
    }

    &:hover,
    &:focus {
        opacity: .75;
        text-decoration: none;
    }
}

.c-nav-main__close {
    display: none;
    //width: 2em;
    //height: 2em;
    //align-items: center;
    //justify-content: center;
    @include margin-bottom($alpha-leading);

    .has-visible-nav & {
        display: flex;
    }
}

.c-nav-projects {
    //border-bottom: 1px solid rgba(white,.1);
    @include padding-bottom($alpha-leading);
}

    .c-nav-projects__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .c-nav-projects__item {
        flex-basis: 100%;
        text-align: center;
        border-top: 1px solid rgba(white,.1);
        //text-align: center;
        //border-bottom: 1px solid rgba(white,.1);
        //@include margin-bottom($alpha-leading);
        //@include padding-bottom($alpha-leading);

        //& + & {
        //    @include padding-top($alpha-leading*2);
        //}

        //@include mq(bp3) {
        //    flex-basis: 50%;
        //}
        //
        //@include mq(bp4) {
        //    flex-basis: 33.3333%;
        //}
        //
        ////@include mq(bp4) {
        ////    flex-basis: 33.3333%;
        ////}
    }

    .c-nav-projects__link {
        //display: inline-block;
        display: block;
        text-decoration: none;
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
        @include padding-tb($alpha-leading,$alpha-leading);

        .is-inactive & {
            opacity: .5;
        }
    }

    a.c-nav-projects__link {

        &,
        &:visited,
        &:hover {
            text-decoration: none;
        }

        &:hover {
            //opacity: .75;
            //transform: scale(1.05);
            background-color: rgba(white,.1);
        }
    }

    .c-nav-projects__label {
        display: block;
        //font-weight: $beta-font-weight;
        font-family: $beta-font-family;
        letter-spacing: 0.04em;
        color: white;
        //@include margin-bottom($alpha-leading/4);
        @include ms4;

        @include mq(bp3) {
            @include ms8;
        }
    }

    .c-nav-projects__status {
        color: palette(color-neutral);
        font-family: $gamma-font-family;
        @include ms-1;
    }

    .c-nav-projects__status--open {
        color: palette(color-alpha);
    }

    .c-nav-projects__status--sold-out {
        color: palette(color-beta);
    }

    .c-nav-projects__date {
        color: palette(color-neutral);
        display: block;
        @include margin-bottom($alpha-leading/4);
    }

//contact

.c-nav-contact {
    //text-align: center;
    color: white;
    //@include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    //@include padding-tb($alpha-leading * 2,$alpha-leading);
    @include padding-top($alpha-leading);
}

    .c-nav-contact__title {
        margin-bottom: 0;
        @include ms0;
    }

// social

.c-nav-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .c-nav-social__item {
        & + & {
            @include margin-left($columns-gutter);
        }
    }

    .c-nav-social__link {
        &,
        &:visited {
            color: white;
        }
    }

    .c-nav-social__symbol {
        width: 1.5rem;
        height: 1.5rem;
    }
