/*
    Component: Page
*/

.c-page {
    background-color: palette(color-neutral,xxx-dark);

    &.has-visible-nav {
        overflow: hidden;
    }
}

    .c-page__header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 30;
        transition: all $animation-duration-alpha $animation-easing-alpha;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background-color: white;
            height: 100%;
            transform: translateY(-100%);
            transition: all $animation-duration-alpha $animation-easing-alpha;
            box-shadow: 0 0 100px rgba(palette(color-neutral,xxx-dark),.125);
        }

        &.is-negative {

            &:before {
                //height: 100%;
                transform: translateY(0);
            }

            .has-visible-nav & {
                background-color: transparent;
                box-shadow: none;

                &:before {
                    //height: 0;
                    transform: translateY(-100%);
                }
            }
        }
    }

    .c-page__nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(palette(color-neutral,xxx-dark),.9);
        z-index: 20;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        transition: all $animation-duration-alpha $animation-easing-alpha, visibility 0s $animation-duration-alpha $animation-easing-alpha;

        .has-visible-nav & {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
            transition: all $animation-duration-alpha $animation-easing-alpha;
        }
    }

    .c-page__nav-container {
        transform: translateY(10px);
        transition: all $animation-duration-alpha $animation-easing-alpha;

        .has-visible-nav & {
            transform: translateY(0);
        }
    }

    .c-page__intro {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: palette(color-neutral,xxx-light);
        //background-color: palette(color-neutral,xxx-dark);
        z-index: 5;
        //transition: transform $animation-duration-alpha $animation-easing-alpha;
        //
        //.has-visible-nav & {
        //    transform: scale(.99);
        //}
    }

    .c-page__main {
        position: relative;
        z-index: 10;
        //margin-top: calc(100vh - 1rem);
        margin-top: calc(100vh - 2rem);
        //margin-top: 100vh;
        box-shadow: 0 0 100px rgba(palette(color-neutral,xxx-dark),.25);
    }
