/*
    Components: Type
    ---
    Type classes
*/

.c-type-name {
    font-family: $beta-font-family;
    font-weight: normal;
    letter-spacing: .04em;
}

.c-type-date {
    //font-family: $delta-font-family;
    font-family: $gamma-font-family;
    @include ms-1;
    //text-transform: uppercase;
    //letter-spacing: 0.04em;
}
