/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    @include padding-tb($alpha-leading * 2,$alpha-leading);
    @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
}

.c-row--alpha {
    background-color: palette(color-neutral,xxx-light);
}

.c-row--beta {
    color: palette(color-neutral,xx-light);
    background-color: palette(color-neutral,xxx-dark);
}

.c-row--intro {
    padding-top: 0;
    padding-bottom: 0;

    //@include mq(bp4,max) {
        padding-left: 0;
        padding-right: 0;
    //}
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: palette(color-neutral,xxx-light);
    //background-color: palette(color-neutral,xxx-dark);
}

.c-row--main {
    //margin-top: calc(100vh + 100px);
    margin-top: calc(100vh - 2rem);
    //margin-top: 100vh;
    box-shadow: 0 0 100px rgba(palette(color-neutral,xxx-dark),.125);
    //padding: 0;

    @include padding-tb($alpha-leading/2, $alpha-leading/2);
    @include padding-lr($columns-gutter/2, $columns-gutter/2);
    //@include padding-tb($alpha-leading,$alpha-leading);
    //@include padding-lr($columns-gutter,$columns-gutter);

    //padding: 0;
}

.c-row--header {
    //position: fixed;
    //position: absolute;
    //top: 0;
    //right: 0;
    //left: 0;
    //z-index: 20;
    //background-color: #fff;

    //.o-container {
    //    max-width: none;
    //}
}
