/*
    Components: Type
    ---
    Type classes
*/

.c-type-name {
    font-family: $beta-font-family;
    font-weight: normal;
    letter-spacing: .04em;
    //@include ms-1;
}

.c-type-date {
    //font-family: $delta-font-family;
    font-family: $gamma-font-family;
    //font-family: $beta-font-family;
    text-transform: uppercase;
    //letter-spacing: 0.04em;
    //font-weight: $beta-font-weight;
    @include ms-1;
}

.c-type-quote {
    color: palette(color-neutral);
    font-family: $gamma-font-family;
}
