/*
    Components: Intro
*/

.c-intro {
    background-color: palette(color-neutral,xxx-dark);
    min-height: calc(100vh - 2rem);
    //min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    @include padding-lr($columns-gutter,$columns-gutter);

    .c-background-image {
        z-index: 101;
    }

    @include mq(bp1) {
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    }

    @include mq(bp5) {
        min-height: 70vh;
    }
}

    .c-intro__body {
        max-width: 32em;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 102;
        opacity: 0;
        transform: translateY(20px);
        transition: all $animation-duration-beta $animation-easing-alpha;
        transition-delay: $animation-duration-alpha;

        .is-selected & {
            opacity: 1;
            transform: translateY(0);
        }

        @include mq(bp3) {
            @include padding-tb($alpha-leading * 6,$alpha-leading * 5);
        }
    }

    .c-intro__image {
        max-width: 50%;
    }

    .c-intro__title {
        color: white;
        letter-spacing: 0.04em;
        font-family: $beta-font-family;
        @include ms8;

        @include mq(bp3) {
            @include ms10;
        }
    }

    .c-intro__date {
        color: white;
        display: inline-block;
        @include ms1;
    }

    .c-intro__description {
        color: white;
        @include margin-bottom($alpha-leading*1.5);

        @include mq(bp1,max) {
            @include ms-1;
        }
    }

.c-intro-meta {
    position: absolute;
    bottom: 0;
    left: 0;

    @include mq(bp3,max) {
        display: none;
    }
}

.c-intro-social {
    position: absolute;
    bottom: 0;
    right: 0;

    @include mq(bp3,max) {
        display: none;
    }
}

    .c-row-meta__tagline {
        color: white;
        font-weight: $beta-font-weight;
        @include text-dimensions($ms-1,1);
    }
