/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    @include padding-tb($alpha-leading * 2,$alpha-leading);
    @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
}

.c-row--alpha {
    background-color: palette(color-neutral,xxx-light);
}

//.c-row--beta {
//    color: palette(color-neutral,xx-light);
//    background-color: palette(color-neutral,xxx-dark);
//}

.c-row--beta {
    color: palette(color-alpha,light);
    background-color: palette(color-alpha);
}

.c-row--intro {
    padding-top: 0;
    padding-bottom: 0;

    //@include mq(bp4,max) {
        padding-left: 0;
        padding-right: 0;
    //}

    //background-color: palette(color-neutral,xxx-dark);
}

.c-row--main {
    //@include padding-tb($alpha-leading/2, $alpha-leading/2);
    //@include padding-lr($columns-gutter/2, $columns-gutter/2);
    padding: 0;
}

.c-row--header {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    //@include padding-tb($alpha-leading * 2,$alpha-leading * 2);
    //position: fixed;
    //position: absolute;
    //top: 0;
    //right: 0;
    //left: 0;
    //z-index: 20;
    //background-color: #fff;

    //.o-container {
    //    max-width: none;
    //}
}

.c-row--nav {
    padding-left: 0;
    padding-right: 0;
    //padding-bottom: 0;
    //@include padding-top($alpha-leading * 7.5);
    @include padding-tb($alpha-leading * 6.5,$alpha-leading);

    .has-scrolled.has-visible-nav & {
        @include padding-top($alpha-leading * 5);
    }
}

.c-row--doormat {
    background-color: palette(color-neutral,xxx-dark);
    //background-color: palette(color-neutral,xxx-light);
    //border-bottom: 1px solid white;

    @include mq(bp1) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
        @include padding-lr($columns-gutter * 4,$columns-gutter * 4);
    }
}

.c-row--footer {
    background-color: palette(color-neutral,xxx-dark);

    @include mq(bp5) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
        @include padding-lr($columns-gutter * 4,$columns-gutter * 4);
    }
}
