//
//  Default settings
//  ---
//
//  Global
//  ---
//  Colors
//  Modular scale
//  Font settings
//  UI (border-radius, -width, -style)
//  Z-indexes
//  Breakpoints
//  Grid
//  Increments
//  Animations
//
//  Element settings
//  ---
//  Page
//  Typography
//  Images
//  Forms
//  Tables
//
//  Object settings
//  ---
//  Grid
//  Media
//
//  Utilities
//  ---
//  Debug
//

// ---
// Colors
// ---

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Base colors
$color-alpha                        : #f1c62c !default; // ff5a5d
$color-beta                         : #03BBBB !default; // 03BBBB

$color-neutral                      : hsl(hue($color-alpha),5,50) !default; //#7F7F77

$color-error                        : #FF4136 !default;
$color-success                      : #2ECC40 !default;
$color-notice                       : #FF851B !default;

// Palettes
$palettes: (
    color-neutral: (
        xxx-light                   : hsl(hue($color-neutral),saturation($color-neutral),100),
        xx-light                    : hsl(hue($color-neutral),saturation($color-neutral),95),
        x-light                     : hsl(hue($color-neutral),saturation($color-neutral),85),
        light                       : hsl(hue($color-neutral),saturation($color-neutral),67.5),
        base                        : $color-neutral,
        dark                        : hsl(hue($color-neutral),saturation($color-neutral),40),
        x-dark                      : hsl(hue($color-neutral),saturation($color-neutral),30),
        xx-dark                     : hsl(hue($color-neutral),saturation($color-neutral),20),
        xxx-dark                    : hsl(hue($color-neutral),saturation($color-neutral),7.5)
    ),
    color-alpha: (
        light                       : hsl(hue($color-alpha),saturation($color-alpha),lightness($color-alpha + 10)),
        base                        : $color-alpha,
        dark                        : hsl(hue($color-alpha),saturation($color-alpha - 20),lightness($color-alpha - 20)),
        x-dark                      : hsl(hue($color-alpha),saturation($color-alpha - 40),lightness($color-alpha - 40))
    ),
    color-beta: (
        light                       : hsl(hue($color-beta),saturation($color-beta - 10),lightness($color-beta + 10)),
        base                        : $color-beta,
        dark                        : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta - 10)),
        x-dark                      : hsl(hue($color-beta),saturation($color-beta),lightness($color-beta - 20))
    ),
    color-error: (
        light                       : hsl(hue($color-error),70,60),
        base                        : $color-error,
        dark                        : hsl(hue($color-error),100,35),
    ),
    color-success: (
        light                       : hsl(hue($color-success),70,60),
        base                        : $color-success,
        dark                        : hsl(hue($color-success),100,35),
    ),
    color-notice: (
        light                       : hsl(hue($color-notice),70,60),
        base                        : $color-notice,
        dark                        : hsl(hue($color-notice),100,35),
    )
) !default;


// ---
// Modular scale
// ---

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3                               : 11 !default;
$ms-2                               : 12 !default;
$ms-1                               : 14 !default;
$ms0                                : 16 !default;
$ms1                                : 18 !default;
$ms2                                : 21 !default;
$ms3                                : 23 !default;
$ms4                                : 28 !default;
$ms5                                : 31 !default;
$ms6                                : 37 !default;
$ms7                                : 42 !default;
$ms8                                : 50 !default;
$ms9                                : 56 !default;
$ms10                               : 67 !default;
$ms11                               : 75 !default;
$ms12                               : 89 !default;
$ms13                               : 100 !default;

// ---
// Font settings
// ---

$alpha-font-family                  : "acumin-pro", sans-serif !default;
//$alpha-font-family                  : "roboto", sans-serif !default;
$beta-font-family                   : "bebas-neue", sans-serif !default;
$gamma-font-family                  : "roboto-mono", sans-serif !default;
$delta-font-family                  : "acumin-pro-condensed", sans-serif !default;
//$delta-font-family                  : "roboto-condensed", sans-serif !default;
//$gamma-font-family                  : "droid-sans-mono", sans-serif !default;
//$gamma-font-family                  : "motor", sans-serif !default;

$alpha-font-size                    : $ms0 !default;

$alpha-font-weight                  : 400 !default;
$beta-font-weight                   : 600 !default;
$gamma-font-weight                  : 700 !default;

$alpha-line-height                  : 1.5 !default;

$alpha-leading                      : 1 !default;
$beta-leading                       : 2 !default;

// ---
// UI
// ---

$radius                             : 0 !default;
$border-width                       : 1px !default;
$border-style                       : solid !default;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha                           : 1,
    beta                            : 2,
    gamma                           : 3,
    delta                           : 4,
    epsilon                         : 5
) !default;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                             : 320/16*1em,
    bp2                             : 480/16*1em,
    bp3                             : 680/16*1em,
    bp4                             : 960/16*1em,
    bp5                             : 1281/16*1em,
    bp6                             : 1640/16*1em,
    bp7                             : 1740/16*1em
) !default;

// ---
// Grid
// ---

// 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter                     : 1 !default;

// Define the amount of columns in the grid
$columns: (
    2,
    3,
    4,
    5,
    6
) !default;

// ---
// Increments
// ---

$increments: (
    alpha                           : 0,
    beta                            : $alpha-leading/2,
    gamma                           : $alpha-leading,
    delta                           : $alpha-leading * 1.5,
    epsilon                         : $alpha-leading * 2
) !default;

// ---
// Animations
// ---

$animation-duration-alpha           : .15s !default;
$animation-duration-beta            : .3s !default;
$animation-duration-gamma           : .45s !default;
$animation-easing-alpha             : ease-in-out !default;
$animation-easing-beta              : cubic-bezier(.68, -.55, .265, 1.55) !default; // bouncy

// ---
// Page
// ---

$html-font-family                   : $alpha-font-family !default;
$html-font-weight                   : $alpha-font-weight !default;
$html-font-size                     : $alpha-font-size !default;
$html-line-height                   : $alpha-line-height !default;

$html-responsive-font-size          : true !default;
$html-responsive-font-breakpoint    : bp5 !default;
$html-responsive-font-magnification : 112.5% !default;

$html-background-color              : palette(color-neutral,xxx-light) !default;
$body-color                         : palette(color-neutral,x-dark) !default;

$body-font-smoothing                : true !default;

$body-selection-background-color    : palette(color-alpha) !default;
$body-selection-color               : palette(color-neutral,xxx-light) !default;
$body-selection-text-shadow         : none !default;

// ---
// Typography
// ---

$h1-font-family                     : $beta-font-family !default;
$h1-font-weight                     : $alpha-font-weight !default;
$h1-font-size                       : $ms6 !default;
$h1-line-height                     : 2 !default;
$h1-margin-bottom                   : $alpha-leading !default;

$h2-font-family                     : $alpha-font-family !default;
$h2-font-weight                     : $beta-font-weight !default;
$h2-font-size                       : $ms3 !default;
$h2-line-height                     : 1.125 !default;
$h2-margin-bottom                   : $alpha-leading !default;

$h3-font-family                     : $alpha-font-family !default;
$h3-font-weight                     : $beta-font-weight !default;
$h3-font-size                       : $ms1 !default;
$h3-line-height                     : 1 !default;
$h3-margin-bottom                   : $alpha-leading !default;

$h4-font-family                     : $alpha-font-family !default;
$h4-font-weight                     : $beta-font-weight !default;
$h4-font-size                       : $ms0 !default;
$h4-line-height                     : 1 !default;
$h4-margin-bottom                   : $alpha-leading !default;

$h5-font-family                     : $alpha-font-family !default;
$h5-font-weight                     : $beta-font-weight !default;
$h5-font-size                       : $ms0 !default;
$h5-line-height                     : 1 !default;
$h5-margin-bottom                   : $alpha-leading !default;

$h6-font-family                     : $alpha-font-family !default;
$h6-font-weight                     : $alpha-font-weight !default;
$h6-font-size                       : $ms1 !default;
$h6-line-height                     : 1 !default;
$h6-margin-bottom                   : $alpha-leading !default;

$base-font-size                     : $alpha-font-size !default;
$base-line-height                   : 1 !default;
$base-margin-bottom                 : $alpha-leading !default;
$base-indent                        : 2 !default;

$blockquote-font-style              : italic !default;
$blockquote-font-size               : $ms1 !default;
$blockquote-line-height             : 1 !default;
$blockquote-margin-bottom           : $alpha-leading !default;

$small-font-size                    : $ms-1 !default;
$small-line-height                  : 1 !default;
$small-margin-bottom                : $alpha-leading !default;

$horizontal-rule-border-width       : 1px 0 0 !default;
$horizontal-rule-border-style       : solid !default;
$horizontal-rule-border-color       : palette(color-neutral,light) !default;

$horizontal-rule-margin-top         : 0 !default;
$horizontal-rule-margin-bottom      : $alpha-leading !default;

$link-transition                    : all $animation-duration-alpha $animation-easing-alpha !default;

$link-decoration                    : none !default;
$link-decoration--hover             : underline !default;

$link-color                         : palette(color-alpha) !default;
$link-color--visited                : palette(color-alpha) !default;
$link-color--hover                  : palette(color-alpha,light) !default;
$link-color--focus                  : palette(color-alpha,light) !default;

$link-outline                       : 0 !default;
$link-outline--focus                : thin dotted !default;

// ---
// Images
// ---

$img-max-width                      : 100% !default;
$img-border                         : 0 !default;

// ---
// Forms
// ---

$fieldset-border                    : 0 !default;
$fieldset-margin-bottom             : $alpha-leading !default;

$legend-font-size                   : $alpha-font-size !default;
$legend-line-height                 : $alpha-line-height !default;
$legend-margin-bottom               : $alpha-leading !default;

$label-font-size                    : $alpha-font-size !default;
$label-line-height                  : $alpha-line-height !default;
$label-margin-bottom                : $alpha-leading !default;

$placeholder-font-family            : $alpha-font-family !default;
$placeholder-font-style             : italic !default;
$placeholder-color                  : palette(color-neutral, light) !default;

$firefox-inner-border-fix           : true !default;

// ---
// Tables
// ---

$table-font-family                  : $alpha-font-family !default;
$table-align                        : left !default;

$caption-font-family                : $alpha-font-family !default;
$caption-font-weight                : $beta-font-weight;
$caption-align                      : center !default;
$caption-margin-bottom              : $alpha-leading !default;
$caption-padding-bottom             : $alpha-leading !default;

// ---
// Grid
// ---

$grid-max-width                     : none !default;
$grid-gutter                        : $columns-gutter !default;

// ---
// Media
// ---

$media-object-gutter                : $columns-gutter !default;
$media-object-margin-bottom         : $alpha-leading !default;

// ---
// Media-embed
// ---

$media-embed-ratio                  : 62.5% !default;
$media-embed-margin-bottom          : $alpha-leading !default;

// ---
// Debug
// ---

$debug-mode                         : false !default; // toggles the debug mode
