/*
    Shame
    ---
    Hacks and quick fixes
*/

html  {
    @include mq(bp7) {
        font-size: $alpha-font-size/16*125%;
    }
}

.c-row {
    .o-container {
        position: relative;
        z-index: 10;
        width: 100%;
    }
}

.c-doormat {
    color: #fff;
    text-align: center;
}

    .c-doormat__item {
        & + & {
            @include padding-top($alpha-leading);
        }
    }

.c-footer {
    color: #fff;
    text-align: center;
}

.c-doormat__copy {
    color: palette(color-neutral);
    @include ms-1;
}

.c-doormat-title {
    //font-weight: $beta-font-weight;
    //@include ms-1;

    font-family: $beta-font-family;
    font-weight: normal;
    letter-spacing: .04em;
}

.c-wall {
    position: relative;
}

    .c-wall__grid {
        position: relative;
        z-index: 10;
    }

    .c-wall__loadmore {
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 0;
        left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-image: linear-gradient(to bottom, transparent, rgba(palette(color-neutral,xxx-dark),1));
        //@include padding-tb($alpha-leading,$alpha-leading);
    }

    .c-wall__loadmore-label {
        position: absolute !important;
        height: 1px; width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        //@include hide-text;
    }

    .c-wall__loadmore-button {
        position: absolute;
        z-index: 20;
        width: 3em;
        height: 3em;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        //position: relative;
        bottom: -1.5em;
        left: 50%;
        margin-left: -1.5em;
        padding: 0;
    }

    .c-wall__loadmore-symbol {
        width: 1.5rem;
        height: 1.5rem;
    }

.u-max-width-md {
    max-width: 36em;
}

.s-content {
    h1,
    h2,
    h3, {
        color: palette(color-neutral,xxx-dark);
    }

    h2 {
        @include ms2;
    }
}

.c-language-label-short {
    display: block;
}

.c-language-label {
    display: none;
}
