---
layout: default
title: Homepage
section: home
---

<div class="c-row c-row--alpha">
    <div class="o-container">
        <div class="o-flex o-flex--wrap o-flex--justify-space-between">
            <h2 class="c-type-main-title">
                Latest news
            </h2>
            {% include components.social-nav.html class="c-nav-social--small c-nav-social--negative" %}
        </div>
    </div>
</div>
<div class="c-row c-row--alpha c-row--wall">
    <div class="o-container">
        {% include components.boxes.html %}
    </div>
</div>
<!-- Page footer -->
{% include components.footer.html %}
<!-- End page footer -->
