<div class="c-box c-box--resident c-box--centered">
    <div class="c-box__body u-bgcolor-neutral-xx-light">
        <div class="c-box__content c-box__content--lg">
            <p class="c-box__avatar-holder">
                <img src="img/jpg/{{ include.avatar }}" alt="Resident 1" class="c-avatar c-avatar--sm">
            </p>
            <h3 class="c-type-name u-color-beta-base u-mb-beta">
                {{ include.name }}
            </h3>
            <p class="u-ms-2 c-type-quote">
                {{ include.quote }}
            </p>
        </div>
    </div>
</div>
