<div class="c-box{% if include.class %} {{ include.class }}{% endif %}">
    {% if include.video %}
        <a href="https://www.youtube.com/embed/ShkGF_X-Uaw?autoplay=1" data-modaal-type="video" data-modaal-animation="fade" class="c-box__body-link modaal">
    {% endif %}
    {% if include.link %}
        <a href="{{ include.link }}" class="c-box__body-link">
    {% endif %}
    <div class="c-box__body u-bgcolor-neutral-xxx-dark">
        <div class="c-background-image" style="background-image: url('img/jpg/{{ include.bg }}');"></div>
        <div class="c-box__content c-box__content--lg">
            {% if include.video %}
                <div class="c-box__play">
                    <svg class="c-symbol c-box__play-symbol"><use xlink:href="#c-symbol---play_circle_filled"></use></svg>
                </div>
            {% endif %}
            {% if include.title %}
                <h2 class="c-box__title {% if include.cta %} c-box__title--cta {% endif %}">
                    {{ include.title }}
                </h2>
            {% endif %}
            {% if include.paragraph %}
                <p class="c-box__paragraph">
                    {{ include.paragraph }}
                </p>
            {% endif %}
            {% if include.button %}
                <p>
                    <a href="#!" class="c-button c-button--md c-button--alpha c-button--round c-button--effect-grow">
                        {{ include.button }}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
    {% if include.link %}
        </a>
    {% endif %}
    {% if include.video %}
        </a>
    {% endif %}
</div>
