<div class="c-box c-box--centered">
    <div class="c-box__body u-bgcolor-neutral-xxx-light">
        <div class="c-box__content u-text-center">
            <p>
                <img src="img/jpg/{{ include.avatar }}" alt="Resident 1" class="c-avatar c-avatar--sm">
            </p>
            <h3 class="c-type-name u-color-beta-base u-mb-beta">
                {{ include.name }}
            </h3>
            <p class="u-ms-1 c-quote">
                {{ include.quote }}
            </p>
        </div>
    </div>
</div>
