<div class="c-wall">
    <div class="c-wall__grid o-grid js-wall">
        <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4 u-1-of-5-bp5 js-wall-sizer"></div>
        <article class="o-grid__item u-1-of-2-bp2 u-2-of-4-bp4 u-2-of-5-bp5 js-wall-item">
            {% include box.html class=" c-box--background c-box--bottom" bg="box-4.jpg" link="https://www.instagram.com/p/BQYtDmyB3Ve/?taken-by=routedusoleil" title="Superdikke merci aan alle residents du soleil om er een absolute topweek van te maken! See you next year." %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4 u-1-of-5-bp5 js-wall-item">
            {% include box.resident.html avatar="resident-2.jpg" name="Claudia" quote="De mensen bleven maar vragen naar een nieuwe plaat van Millionaire, dus ben ik er nu eens op ingegaan." %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-2-of-4-bp4 u-2-of-5-bp5 js-wall-item">
            {% include box.html class=" c-box--background c-box--half c-box--centered" video="true" bg="gifit_1490727638283.gif" paragraph="This was Barcelona express 2016" %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-2-of-4-bp4 u-2-of-5-bp5 js-wall-item">
            {% include box.html cta="true" class=" c-box--background c-box--half c-box--centered" title="Barcelona Express 2017" paragraph="Lorem ipsum dolor sit amet consectetur adipisicing elit." button="Join the fun" bg="box-6.jpg" %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4 u-1-of-5-bp5 js-wall-item">
            {% include box.html class=" c-box--background c-box--bottom" bg="be-instagram-1.jpg" link="https://www.instagram.com/p/BQYtDmyB3Ve/?taken-by=routedusoleil" paragraph="Superdikke merci aan alle residents du soleil om er een absolute topweek van te maken! See you next year." %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4 u-1-of-5-bp5 js-wall-item">
            {% include box.resident.html avatar="resident-2.jpg" name="Claudia" quote="El que vuelve de un viaje no es el mismo que el que se fue" %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-2-of-4-bp4 u-2-of-5-bp5 js-wall-item">
            {% include box.html class=" c-box--background c-box--half c-box--centered" video="true" bg="gifit_1490727638283.gif" paragraph="This was Barcelona express 2016" %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-2-of-4-bp4 u-2-of-5-bp5 js-wall-item">
            {% include box.html class=" c-box--background c-box--bottom" bg="box-4.jpg" title="Superdikke merci aan alle residents du soleil om er een absolute topweek van te maken! See you next year." %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-2-of-4-bp4 u-2-of-5-bp5 js-wall-item">
            {% include box.html class=" c-box--background c-box--half c-box--bottom" title="Barcelona Express 2017" bg="box-6.jpg" %}
        </article>
        <article class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4 u-1-of-5-bp5 js-wall-item">
            {% include box.resident.html avatar="resident-1.jpg" name="Pieter" quote="Lorem ipsum dolor sit amet consectetur adipisicing elit aliquam blanditiis" %}
        </article>
    </div>

        {% comment %}
        <button class="c-button c-button--block c-button--loadmore c-button--lg">
            Load more
        </button>
        {% endcomment %}
        <button class="c-button c-button--alpha c-button--shadow c-button--effect-grow c-wall__loadmore-button">
            <span class="c-wall__loadmore-label">Load more</span>
            {% include atom.symbol.html value="add" class="c-wall__loadmore-symbol" %}
        </button>

</div>
