<ul class="o-list c-nav-social {% if include.class %} {{ include.class }}{% endif %}">
    <li class="c-nav-social__item">
        <a href="#!" class="c-nav-social__link">
            {% include atom.symbol.html value="instagram" class="c-nav-social__symbol" %}
        </a>
    </li>
    <li class="c-nav-social__item">
        <a href="#!" class="c-nav-social__link">
            {% include atom.symbol.html value="facebook" class="c-nav-social__symbol" %}
        </a>
    </li>
    <li class="c-nav-social__item">
        <a href="#!" class="c-nav-social__link">
            {% include atom.symbol.html value="snapchat" class="c-nav-social__symbol" %}
        </a>
    </li>
</ul>
