<footer class="c-row c-row--doormat">
    <div class="o-container">
        <div class="c-doormat">
            <div class="c-doormat__item">
                <h3 class="c-doormat-title">
                    Contact
                </h3>
                <p class="u-ms-1">
                    Village du Soleil <br>
                    Brabantdam 98 <br>
                    9000 Gent <br>
                    <a href="mailto:info@routedusoleil.org">info@routedusoleil.org</a>
                </p>
            </div>
            <div class="c-doormat__item">
                <h3 class="c-doormat-title">
                    Follow us
                </h3>
                <ul class="o-list c-nav-social">
                    <li class="c-nav-social__item">
                        <a href="#!" class="c-nav-social__link">
                            <svg class="c-nav-social__symbol c-symbol"><use xlink:href="#c-symbol---instagram"></use></svg>
                        </a>
                    </li>
                    <li class="c-nav-social__item">
                        <a href="#!" class="c-nav-social__link">
                            <svg class="c-nav-social__symbol c-symbol"><use xlink:href="#c-symbol---facebook-square"></use></svg>
                        </a>
                    </li>
                    <li class="c-nav-social__item">
                        <a href="#!" class="c-nav-social__link">
                            <svg class="c-nav-social__symbol c-symbol"><use xlink:href="#c-symbol---snapchat-square"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="c-doormat__item">
                <p class="c-doormat__copy">&copy; {{ 'now' | date: "%Y" }} Route du Soleil</p>
            </div>
        </div>
    </div>
</footer>
