<div class="o-grid o-grid--gutter">
    <div class="o-grid__item u-2-of-3-bp4">
        <!-- <p class="c-nav-title">
            Projects
        </p> -->
        <nav class="c-nav-projects">
            <ul class="o-list c-nav-projects__list">
                <li class="c-nav-projects__item">
                    <a href="http://village.routedusoleil.org/tv17" class="c-nav-projects__link">
                        <span class="c-type-date c-nav-projects__date">
                            4 - 11 september 2017
                        </span>
                        <span class="c-nav-projects__label">
                            The village
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--open">Registrations open</span>
                    </a>
                </li>
                <li class="c-nav-projects__item">
                    <a href="#!" class="c-nav-projects__link">
                        <span class="c-type-date c-nav-projects__date">
                            11 - 21 oktober 2017
                        </span>
                        <span class="c-nav-projects__label">
                            Barcelona Express
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--open">Registrations open</span>
                    </a>
                </li>
                <li class="c-nav-projects__item">
                    <a href="#!" class="c-nav-projects__link">
                        <span class="c-type-date c-nav-projects__date">
                            21 - 30 november 2017
                        </span>
                        <span class="c-nav-projects__label">
                            Budapest Rally
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--open">Registrations open</span>
                    </a>
                </li>
                <li class="c-nav-projects__item">
                    <a href="#!" class="c-nav-projects__link">
                        <span class="c-type-date c-nav-projects__date">
                            4 - 11 december 2017
                        </span>
                        <span class="c-nav-projects__label">
                            Scotland Rally
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--open">Registrations open</span>
                    </a>
                </li>
                <li class="c-nav-projects__item">
                    <a href="#!" class="c-nav-projects__link">
                        <span class="c-type-date c-nav-projects__date">
                            4 - 11 juli 2017
                        </span>
                        <span class="c-nav-projects__label">
                            The vespa trip
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--sold-out">Sold out</span>
                    </a>
                </li>
                <li class="c-nav-projects__item">
                    <a href="#!" class="c-nav-projects__link">
                        <span class="c-type-date c-nav-projects__date">
                            4 - 11 oktober 2017
                        </span>
                        <span class="c-nav-projects__label">
                            The oktoberfest trip
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--sold-out">Sold out</span>
                    </a>
                </li>
                <li class="c-nav-projects__item is-inactive">
                    <span class="c-nav-projects__link">
                        <span class="c-nav-projects__label">
                            The graduates
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--closed">More info soon</span>
                    </span>
                </li>
                <li class="c-nav-projects__item is-inactive">
                    <span class="c-nav-projects__link">
                        <span class="c-nav-projects__label">
                            Hoogtestage
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--closed">More info soon</span>
                    </span>
                </li>
                <li class="c-nav-projects__item is-inactive">
                    <span class="c-nav-projects__link">
                        <span class="c-nav-projects__label">
                            Snowbreak
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--closed">More info soon</span>
                    </span>
                </li>
                <li class="c-nav-projects__item is-inactive">
                    <span class="c-nav-projects__link">
                        <span class="c-nav-projects__label">
                            The canoe trip
                        </span>
                        <span class="c-nav-projects__status c-nav-projects__status--closed">More info soon</span>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="o-grid__item u-1-of-3-bp4">
        <div class="c-nav-contact">
            <p class="c-nav-title">
                Contact
            </p>
            <h3 class="c-nav-contact__title">
                Village du Soleil
            </h3>
            <p>
                Brabantdam 98 <br>
                9000 Gent <br>
                <a href="mailto:info@routedusoleil.org">info@routedusoleil.org</a>
            </p>
        </div>
        <div class="c-nav-contact">
            <p class="c-nav-title">
                Social
            </p>
            <ul class="o-list c-nav-social">
                <li class="c-nav-social__item">
                    <a href="#!" class="c-nav-social__link">
                        <svg class="c-nav-social__symbol c-symbol"><use xlink:href="#c-symbol---facebook-square"></use></svg>
                    </a>
                </li>
                <li class="c-nav-social__item">
                    <a href="#!" class="c-nav-social__link">
                        <svg class="c-nav-social__symbol c-symbol"><use xlink:href="#c-symbol---snapchat-square"></use></svg>
                    </a>
                </li>
                <li class="c-nav-social__item">
                    <a href="#!" class="c-nav-social__link">
                        <svg class="c-nav-social__symbol c-symbol"><use xlink:href="#c-symbol---instagram"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
