<div class="o-grid o-grid--gutter">
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4 u-1-of-4-bp5">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
</div>
