<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <li class="c-nav-main__item">
            <a href="{{ site.github.url }}/" class="c-nav-main__link">Projects</a>
        </li>
        <li class="c-nav-main__item">
            <a href="{{ site.github.url }}/" class="c-nav-main__link">Contact</a>
        </li>
        <li class="c-nav-main__item">
            <a href="{{ site.github.url }}/" class="c-nav-main__link">About</a>
        </li>
        {% comment %}
        {% for item in site.navigation %}
        <li class="c-nav-main__item{% if page.url contains item.url %} is-selected{% endif %}">
            <a href="{{ site.github.url }}/{{ item.url }}" class="c-nav-main__link">{{ item.title | capitalize }}</a>
        </li>
        {% endfor %}
        {% endcomment %}
    </ul>
</nav>

<button class="c-nav-main-trigger js-nav-trigger">
    {% include atom.symbol.html value="hamburger" %} Menu
</button>
