<div class="c-row c-row--intro">
    <div class="o-container">
        {% comment %}
        <div class="c-intro scrollme animateme" data-when="exit" data-from="0" data-to="1" data-translatey="-75" data-opacity=".5" data-easing="linear">
            <div class="c-background-image" style="background-image: url('img/jpg/box-2.jpg')"></div>
            <div class="c-intro__body animateme" data-when="exit" data-from="0" data-to="1" data-opacity="1" data-translatey="-150" data-easing="linear">
                <p class="c-intro__logo">
                    <img class="c-intro__image" src="img/png/the-village-logo-excl.png" alt="">
                </p>
                <p class="c-type-date c-intro__date">
                    4 - 11 September 2017
                </p>
                <p class="c-intro__description">
                    Enkele kilometers van Barcelona, verscholen tussen de duinen van de Middellandse Zee liggen een prachtige camping &amp; een verlaten golfterrein die in september omgetoverd worden tot Village du Soleil.
                </p>
                <p>
                    <a href="#!" class="c-button c-button--shadow c-button--effect-grow c-button--round c-button--lg c-button--alpha">
                        Join the fun
                    </a>
                </p>
            </div>
            <p class="c-intro-nav">
                <svg class="c-symbol c-symbol---arrow_back"><use xlink:href="#c-symbol---arrow_back"></use></svg> <span class="c-intro-nav__position">1 / 3</span> <svg class="c-symbol c-symbol---arrow_forward"><use xlink:href="#c-symbol---arrow_forward"></use></svg>
            </p>
        </div>
        {% endcomment %}
        <div class="c-intro-carousel js-intro-carousel">
            <div class="c-intro js-intro-carousel-item scrollme animateme" data-flickity-bg-lazyload="('img/jpg/box-2.jpg')" data-when="exit" data-from="0" data-to="1" data-translatey="-75" data-opacity=".5" data-easing="linear">
                <div class="c-background-image" style="background-image: url('img/jpg/box-2.jpg')"></div>
                <div class="c-intro__body">
                    <p class="c-intro__logo">
                        <img class="c-intro__image" src="img/png/the-village-logo-excl.png" alt="">
                    </p>
                    <p class="c-type-date c-intro__date">
                        4 - 11 September 2017
                    </p>
                    <p class="c-intro__description">
                        Enkele kilometers van Barcelona, verscholen tussen de duinen van de Middellandse Zee liggen een prachtige camping &amp; een verlaten golfterrein die in september omgetoverd worden tot Village du Soleil.
                    </p>
                    <p>
                        <a href="#!" class="c-button c-button--shadow c-button--effect-grow c-button--round c-button--lg c-button--alpha">
                            Join the fun
                        </a>
                    </p>
                </div>
            </div>
            <div class="c-intro js-intro-carousel-item scrollme animateme" data-flickity-bg-lazyload="img/jpg/be-bg-3.jpg" data-when="exit" data-from="0" data-to="1" data-translatey="-75" data-opacity=".5" data-easing="linear">
                <div class="c-background-image" style="background-image: url('img/jpg/be-bg-3.jpg')"></div>
                <div class="c-intro__body">
                    <p class="c-intro__title">
                        Barcelona Express
                    </p>
                    <p class="c-type-date c-intro__date">
                        4 - 11 September 2017
                    </p>
                    <p class="c-intro__description">
                        Enkele kilometers van Barcelona, verscholen tussen de duinen van de Middellandse Zee liggen een prachtige camping &amp; een verlaten golfterrein die in september omgetoverd worden tot Village du Soleil.
                    </p>
                    <p>
                        <a href="#!" class="c-button c-button--shadow c-button--effect-grow c-button--round c-button--lg c-button--alpha">
                            Join the fun
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
