<div class="c-row c-row--header">
    <div class="o-container">
        <div class="c-header">
            <div class="c-header__item">
                {% include components.logo.html %}
            </div>
            <div class="c-header__item">
                {% include components.logo-mark.html %}
            </div>
            <div class="c-header__item">
                <nav class="c-nav-main">
                    <ul class="o-list c-nav-main__list">
                        <li class="c-nav-main__item"><a class="c-nav-main__link js-nav-trigger" href="#!">Events</a></li>
                        <li class="c-nav-main__item"><a class="c-nav-main__link" href="#!">Residents</a></li>
                        <li class="c-nav-main__item"><a class="c-nav-main__link" href="#!">Login</a></li>
                        <li class="c-nav-main__item c-nav-main__item--language">
                            <a class="c-nav-main__link c-nav-main__link--dropdown js-subnav-trigger" href="#!">
                                <span class="c-language-label">English</span> <span class="c-language-label-short">EN</span>
                                {% include atom.symbol.html value="arrow" class="c-nav-main__symbol c-nav-main__symbol--arrow-down" %}
                            </a>
                            <ul class="o-list c-subnav js-subnav">
                                <li class="c-subnav__item">
                                    <a href="#!" class="c-subnav__link"><span class="c-language-label">Nederlands</span> <span class="c-language-label-short">NL</span></a>
                                </li>
                                <li class="c-subnav__item is-active">
                                    <a href="#!" class="c-subnav__link"><span class="c-language-label">English</span> <span class="c-language-label-short">EN</span></a>
                                </li>
                                <li class="c-subnav__item">
                                    <a href="#!" class="c-subnav__link"><span class="c-language-label">Français</span> <span class="c-language-label-short">FR</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button class="c-button-reset c-nav-main__close js-nav-trigger">
                        {% include atom.symbol.html value="close" class="c-nav-main__symbol c-nav-main__symbol--close" %}
                    </button>
                </nav>
            </div>
        </div>
    </div>
</div>
