<div class="js-nav-holder c-row c-row--header">
    <div class="o-container">
        <div class="c-header">
            <div class="c-header__item">
                {% include components.logo.html %}
            </div>
            <div class="c-header__item">
                {% include components.logo-mark.html %}
            </div>
            <div class="c-header__item">
                {% comment %}
                <nav class="c-nav-main">
                    <ul class="o-list c-nav-main__list">
                        <li class="c-nav-main__item"><a class="c-nav-main__link js-nav-trigger" href="#!">Events</a></li>
                        <li class="c-nav-main__item"><a class="c-nav-main__link" href="#!">Residents</a></li>
                        <li class="c-nav-main__item"><a class="c-nav-main__link" href="#!">Login</a></li>
                    </ul>
                </nav>
                {% endcomment %}

                <a class="c-header__nav-trigger js-nav-trigger is-active" href="#!">
                    {% include atom.symbol.html value="hamburger" class="c-header__symbol c-header__symbol--hamburger" %}
                    {% include atom.symbol.html value="close" class="c-header__symbol c-header__symbol--close" %}
                </a>
            </div>
            {% comment %}
            <p>
                <a href="" class="c-header__link">projects</a>
            </p>
            <p>
                <a class="c-header__link" href="#!">
                    {% include atom.symbol.html value="hamburger" class="c-header__symbol" %}
                </a>
            </p>
            {% endcomment %}
        </div>
    </div>
</div>
