<!-- Text colors -->
<div class="o-grid o-grid--gutter">
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-6-bp4">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-6-bp4">
        <div class="c-swatch u-bgcolor-neutral-x-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-3-bp4">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-neutral-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-neutral-x-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-neutral-xx-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-neutral-xxx-dark"></div>
    </div>
</div>
<!-- End text colors -->

<!-- UI colors -->
<div class="o-grid o-grid--gutter">
    <div class="o-grid__item">
        <h3>UI colors</h3>
    </div>


    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-alpha-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-alpha-base"></div>
    </div>

    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-alpha-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-alpha-x-dark"></div>
    </div>


    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-beta-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-beta-base"></div>
    </div>

    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-beta-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-4-bp4">
        <div class="c-swatch u-bgcolor-beta-x-dark"></div>
    </div>
</div>
<!-- End UI colors -->
