<!DOCTYPE html>
<html>

{% include generic.head.html %}

<body class="c-page js-page">

    <!-- Page header -->
    <div class="c-page__header js-header">
        {% include components.header.html %}
    </div>
    <!-- End page header -->

    <!-- Page nav -->
    <div class="c-page__nav">
        <div class="c-row c-row--nav">
            <div class="o-container c-page__nav-container">
                {% include components.nav-main.html %}
            </div>
        </div>
    </div>
    <!-- End page nav -->

    <!-- Page intro -->
    <div class="c-page__intro">
        {% include components.intro.html %}
    </div>
    <!-- End page intro -->

    <!-- Page main -->
    <div class="c-page__main js-main">
        {{ content }}
    </div>
    <!-- End page main -->

    <!-- Footer javascript -->
    {% include generic.javascript.html %}
    <!-- End footer javascript -->

</body>
</html>
