<!DOCTYPE html>
<html>

{% include generic.head.html %}

<body class="c-page js-page">

    <!-- Page header -->
    <div class="c-page__header js-header">
        {% include components.header.html %}
    </div>
    <!-- End page header -->

    <!-- Page nav -->
    <div class="c-page__nav">
        <div class="c-row c-row--nav">
            <div class="o-container c-page__nav-container">
                {% include components.nav-main.html %}
            </div>
        </div>
    </div>
    <!-- End page nav -->

    <!-- Page intro -->
    <div class="c-page__intro scrollme animateme" data-when="exit" data-from="0" data-to="1" data-translatey="-150" data-opacity="1" data-easing="linear">
        {% include components.intro.html %}
        <div class="c-intro-meta">
            <div class="c-row c-row--meta">
                <p class="c-row-meta__tagline">
                    It's the journey, not the destination
                </p>
            </div>
        </div>
        {% comment %}
        <div class="c-intro-social">
            <div class="c-row c-row--meta">
                {% include components.social-nav.html class="c-nav-social--small" %}
            </div>
        </div>
        {% endcomment %}
    </div>
    <!-- End page intro -->

    <!-- Page main -->
    <div class="c-page__main js-main">
        {{ content }}
    </div>
    <!-- End page main -->

    <!-- Footer javascript -->
    {% include generic.javascript.html %}
    <!-- End footer javascript -->

</body>
</html>
